<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feiyu.videochat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activitys.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.IndexActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".ui.activitys.MsgActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.HostInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.SearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.ChatActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.VipVideoActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.VideoBrowseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activitys.VipActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <activity android:name=".ui.activitys.UserActivity"
            android:screenOrientation="portrait"
            android:launchMode="standard"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="$com.feiyu.videochat.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="com.feiyu.videochat.common.CustomCachingGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>